BACKEND_PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=jamplay
POSTGRES_PORT=5432
DB_APP_USER=jamplay_app
DB_APP_PASSWORD=jamplay1234
DATABASE_URL="postgresql://jamplay_app:jamplay1234@localhost:5432/jamplay?schema=public"
